.catalog
  +image('woman', 'платья')
  +image('man', 'платья')
  +image('woman', 'платья')
  +image('man', 'платья')
  +image('woman', 'платья')
  +image('man', 'платья')
  +image('woman', 'платья')
  +image('man', 'платья')