block variables
  - var 

header
  .container
    +item-header('Для мужчин', 'w_105_h_17')
    +item-header('Для женщин', 'w_109_h_17')
    +item-header('Для детей', 'w_89_h_17')
    +item-logo('the loop')
    +item-right('Оплата')
    +item-right('Доставка')