block variables
  - var 

header
  .container
    .first-screen__main-menu
      +item-header('Для мужчин', 'w_105_h_17')
      +item-header('Для женщин', 'w_109_h_17')
      +item-header('Для детей', 'w_89_h_17')
      +item-logo('the loop')
      +item-text('Оплата')
      +item-text('Доставка')
    .first-screen__basket
      img(src="./assets/img/shopping-basket-button.png")
      .group
        img(class='img_rectangle', src='./assets/img/Polygon copy.png')
        img.img_polygon(src="./assets/img/Rectangle 2.png")
    .first-screen__text
      +item-text('Зимняя распродажа')
      +item-text_upper('скидки до 90%')
      .item-rectangle
        h3.item-title= 'смотреть модели'
    .first-screen__image
      img(src="./assets/img/running_shoes_PNG5823.png")
      .item-title_size_24.item-title_line-through_enabled= '9 900 '
        <span>&#8381;</span>
      .item-title_size_42.item-title_color_red= '1 900 '
        <span>&#8381;</span>
    .first-screen__slider-controls
      img(src="./assets/img/first-screen__slider-controls.png")