.container_without-indent
  .free-shiping.container__free-shiping
    .title.title_color_white= 'бесплатная доставка'
      <span class="title_weight_300"> от 3000&#8381;</span>
    .title.title_position_center= 'Сделайте заказ и получите подарок!'