.container_without-indent
  .container__subscribe
    .title.title_color_white.title_indent_top2-donw1= 'получайте скидки и подарки'
    .rectangle.rectangle_e-mail
      h3.rectangle__title.rectangle__title_e-mail= 'Ваш e-mail'
    .rectangle
      h3.rectangle__title= 'подписаться'