extends ../layout/main

block variables
  - var title = 'Getting Started - Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.section__catalog
    .container.container__catalog
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')      
  //- example-component

block new-model
  +new-model('новые модели')

block discount
  +new-model('скидки до 90%')
    
block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
  script(src="script.js")