extends ../layout/main

block variables
  - var title = 'Getting Started - Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section.section__catalog
    .container.container__catalog
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')
      +catalog-image('woman', 'платья')
      +catalog-image('man', 'платья')      
  //- example-component

block new-model
  section.section__new-models
    .container__new-models
      h2.new-item__title новые модели
      +new-item('Коктельное платье', '40 000')
      +new-item('Коктельное платье', '40 000')
      +new-item('Коктельное платье', '40 000')
      +new-item('Коктельное платье', '40 000')
      .new-item__button.button
        .button__title= 'все модели'
        img(src="./assets/img/Arrow.png")

block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
  script(src="script.js")