@import "../utils/vars";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
// header style
header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    background: url('../img/background.png') repeat-y;
    margin: 0;
    padding: 0;
    height: 800px;
    width: 1920px;
    padding-top: 50px;

    .container {
        width: 1110px;
        //margin: 0 auto;
        //display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 185px 185px 97.2px 8%; //repeat(8, 50px);
        grid-template-rows: 40px 126px 34px 224px 109px 130px 7px 70px;
        //grid-gap: 10px;
        //grid-auto-rows: minmax(100px, auto);
        //flex-direction: row;
        //justify-content: space-between;
        //align-items: center;
        .first-screen__main-menu {
            grid-column: 1 / 8;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .item {
                display: flex; // !important;
                //justify-content: space-around;
                align-items: center;
                margin-right: 35px;

                .item-title {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.03em;
                    color: #212121;
                }

                .item-title_ident-right_5px {
                    margin-right: 5px;
                }

                img {
                    width: 5px;
                    height: 5px;
                }
            }

            .item:nth-child(3) {
                margin-right: 0px;
            }

            .item-logo {
                width: 201px;
                height: 41px;
                margin-left: 91px;
                margin-right: 90px;


                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }
        }

        .first-screen__basket {
            grid-column: 8;
            grid-row: 1;
            width: 91px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //align-items: center;
            margin-top: 3px;

            img {
                width: 30px;
                height: 30px;
            }

            .group {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 10px;
                //align-items: center;
                .img_rectangle {
                    width: 15px;
                    height: 15px;
                }

                .img_polygon {
                    width: 33px;
                    height: 15px;
                }
            }
        }

        .first-screen__text {
            grid-column: 1 / 5;
            grid-row: 4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item-title {
                font-size: 30px;
                line-height: 37px;
                letter-spacing: 0.02em;
                color: #000000;
            }

            .item-title_upper {
                font-weight: bold;
                font-size: 55px;
                line-height: 67px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }

            .item-title_padding-bottom {
                padding-bottom: 14px;
            }

            .item-rectangle {
                width: 240px;
                height: 55px;
                background-color: #D7B399;
                display: flex;
                justify-content: center;
                align-items: center;

                .item-title {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #FFF;
                }
            }
        }

        .item-title_size_24 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }

        .item-title_size_42 {
            font-weight: bold;
            font-size: 42px;
            line-height: 51px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #D84033;
        }

        .first-screen__image {
            grid-column: 5 / 9;
            grid-row: 3 / 5;
            position: relative;
            z-index: 1;
        }

        .item-title_line-through_enabled {
            position: absolute;
            z-index: 2;
            top: 40px;
            right: 7px;
            text-decoration-line: line-through;
            color: #000;
        }

        .item-title_color_red {
            position: absolute;
            z-index: 3;
            top: 83px;
            right: 0;
        }

        .first-screen__slider-controls {
            grid-column: 1 / 9;
            grid-row: 7;
            text-align: center;
        }
    }
}