@import "../utils/vars";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

// header style
header {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    //background: url('../img/background.png') repeat-y;
    background-color: #F9F6F1;
    margin: 0;
    padding: 0;
    height: 800px;
    max-width: 1920px;
    width: 100%;
    padding-top: 50px;
}
.header__container {
    width: 57.8125%;
    // if value "screen" set other @media, nothing don't work
    @media screen and (max-width: $desktopWidth) {
        width: 70%;
    }

    @media screen and (max-width: $smDesktopWidth) {
        width: 75%;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 16.6666667% 16.6666667% 97.2px 8%;
    grid-template-rows: 40px 126px 34px 224px 109px 130px 7px 70px;

    .main-menu {
        grid-column: 1 / 8;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        @media screen and (max-width: $desktopWidth) {
            justify-content: space-between;
        }

        @media screen and (max-width: $smDesktopWidth) {
            //grid-column: 1 / 7;
            margin-right: 30px;
        }
    }

    .item {
        display: flex;
        align-items: center;
        margin-right: 35px;

        @media all and (max-width: $largerWidth) {
            margin-right: 25px;
        }

        @media all and (max-width: $desktopWidth) {
            margin-right: 15px;
        }
        /*@media all and (min-width: $desktopWidth) and (max-width: $largerWidth) {
            margin-right: 25px;
        }

        @media all and (min-width: $smDesktopWidth) and (max-width: $desktopWidth) {
            margin-right: 15px;
        }*/
    }

    .item_indet_zero {
        margin-right: 0;
    }

    .item__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: #212121;

        @media all and (max-width: $largerWidth) {
            font-size: 13px;
        }

        @media all and (max-width: $desktopWidth) {
            font-size: 12px;
        }
    }

    .item__title_ident-right_5px {
        padding-right: 5px;
    }

    .item__img {
        width: 5px;
        height: 5px;
    }

    .item:nth-child(3) {
        margin-right: 0px;
    }

    .main-menu__logo {
        display: flex;
        align-items: center;
        width: 201px;
        height: 41px;
        margin-left: 91px;
        margin-right: 90px;

        @media all and (max-width: $largerWidth) {
            width: 181px;
            margin-left: 61px;
            margin-right: 60px;
        }

        @media all and (max-width: $desktopWidth) {
            width: 161px;
            margin-left: 31px;
            margin-right: 30px;
        }

        @media all and (max-width: $smDesktopWidth) {
            width: 141px;
            margin-left: 21px;
            margin-right: 20px;
        }
    }

    .main-menu__img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .header__basket {
        grid-column: 8;
        grid-row: 1;
        margin-top: 3px;

        @media screen and (max-width: $smDesktopWidth) {
            grid-column: 7 / 8;
            margin-left: 80px;
            //display: flex;
            //justify-content: flex-end;
        }
    }

    .basket {
        width: 91px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media all and (max-width: $largerWidth) {
            width: 80px;
        }

        @media all and (max-width: $desktopWidth) {
            width: 75px;
        }

        @media screen and (max-width: $smDesktopWidth) {
            //justify-content: flex-end;
        }
    }

    .basket__img {
        width: 30px;
        height: 30px;

        @media all and (max-width: $largerWidth) {
            width: 27px;
            height: 27px;
        }

        @media all and (max-width: $desktopWidth) {
            width: 24px;
            height: 24px;
        }
    }

    .basket__group-triangle {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
        //align-items: center;
        .basket__img-rectangle {
            width: 15px;
            height: 15px;
        }

        .basket__img-polygon {
            width: 33px;
            height: 15px;
        }

        @media all and (max-width: $largerWidth) {
            .basket__img-rectangle {
                width: 13px;
                height: 13px;
            }

            .basket__img-polygon {
                width: 30px;
                height: 13px;
            }
        }

        @media all and (max-width: $desktopWidth) {
            .basket__img-rectangle {
                width: 11px;
                height: 11px;
            }

            .basket__img-polygon {
                width: 27px;
                height: 11px;
            }
        }
    }

    .discount {
        grid-column: 1 / 5;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .discount__title_size_30 {
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;
        color: #000000;

        @media all and (max-width: $largerWidth) {
            font-size: 25px;
            line-height: 32px;
        }

        @media all and (max-width: $desktopWidth) {
            font-size: 20px;
            line-height: 27px;
        }
    }

    .item__title_upper {
        font-weight: bold;
        font-size: 55px;
        line-height: 67px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        @media all and (max-width: $largerWidth) {
            font-size: 50px;
            line-height: 62px;
        }

        @media all and (max-width: $desktopWidth) {
            font-size: 40px;
            line-height: 52px;
        }

        @media all and (max-width: $smDesktopWidth) {
            font-size: 30px;
            line-height: 42px;
        }
    }

    .item__title_padding-bottom {
        padding-bottom: 14px;
    }

    .rectangle {
        width: 240px;
        height: 55px;
        background-color: #D7B399;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rectangle__title {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFF;
    }

    .item__title_size_24 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media all and (max-width: $largerWidth) {
            font-size: 20px;
            line-height: 25px;
        }

        @media all and (max-width: $desktopWidth) {
            font-size: 17px;
            line-height: 22px;
        }

        @media all and (max-width: $smDesktopWidth) {
            font-size: 15px;
            line-height: 17px;
        }
    }

    .item__title_size_42 {
        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #D84033;

        @media all and (max-width: $largerWidth) {
            font-size: 37px;
            line-height: 46px;
        }

        @media all and (max-width: $desktopWidth) {
            font-size: 32px;
            line-height: 41px;
        }

        @media all and (max-width: $smDesktopWidth) {
            font-size: 27px;
            line-height: 36px;
        }
    }

    .first-screen__image {
        grid-column: 5 / 9;
        grid-row: 3 / 5;
        position: relative;
        z-index: 1;
    }

    .item__title_line-through_enabled {
        position: absolute;
        z-index: 2;
        top: 40px;
        right: 7px;
        text-decoration-line: line-through;
        color: #000;
    }

    .item__title_color_red {
        position: absolute;
        z-index: 3;
        top: 83px;
        right: 0;

        @media all and (max-width: $largerWidth) {
            top: 78px;
        }

        @media all and (max-width: $desktopWidth) {
            top: 73px;
        }

        @media all and (max-width: $smDesktopWidth) {
            top: 68px;
        }
    }

    .first-screen__slider-controls {
        grid-column: 1 / 9;
        grid-row: 7;
        text-align: center;
    }
}