@import "../utils/vars";
.container_without-indent {
    width: 100%;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

.container__free-shiping {
    height: 235px;
    display: grid;
    grid-template-columns: 34.6354166667% 1fr 34.7395833333%;
    grid-template-rows: 80px 37px 23px 26px 69px;

    @media all and (max-width: $desktopWidth) {
        grid-template-columns: 31.6354166667% 1fr 31.7395833333%;
    }

    @media all and (max-width: $smDesktopWidth) {
        grid-template-columns: 26.6354166667% 1fr 26.7395833333%;
    }
}

.title {
    grid-row: 4;
    grid-column: 2;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    color: #FFF;

    @media all and (max-width: $desktopWidth) {
        font-size: 18px;
        line-height: 23px;
    }

    @media all and (max-width: $smDesktopWidth) {
        font-size: 17px;
        line-height: 22px;
    }
}

.title_position_center {
    text-align: center;
}

.title_weight_300 {
    font-weight: 300;
}

.title_color_white {
    grid-row: 2;
    grid-column: 2;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @media all and (max-width: $desktopWidth) {
        font-size: 22px;
        line-height: 29px;
    }

    @media all and (max-width: $smDesktopWidth) {
        font-size: 20px;
        line-height: 25px;
    }
}